@import './_slick.scss';
@import './_slickTheme.scss';

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

/*Nav*/
.Nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 15px;
}

.Nav ul li a {
  text-decoration: none;
}

/*Cover*/
.Cover {
  height: 80vh;
  width: 90%;
  margin: 0 auto;
}
.Cover video {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
/*.cover-content {*/
  /*position: absolute;*/
  /*top: 0;*/
/*}*/